<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    
</th:block>


<!-- 헤더 전체 div-->
<div id="headerWrapper" class="container">
    <!-- 헤더 상단 이벤트 안내-->
    <div id="headerTop">
        <h2> 이벤트 광고 배너 자리</h2>

    </div>
    <!-- 헤더 중단 배너, 검색 및 링크 -->
    <div id="headerMiddle" class="row">
        <!-- 로고-->
        <div id = "mainLogo" class="col-lg-3">
            <a th:href="@{/main}">
                <img id="logoImg" th:src="@{/images/people.png}" />
                <div id="logoTxt">BuyForAll</div>
            </a>
        </div>
        <!-- 검색창-->
        <div id="mainSearchBox" class="col-lg-6">
            <form>
                <div id="searchForm" class="input-group input-group-lg mb-3">
                        <input id="searchInput" type="text" class="form-control">
                        <button id="searchButton" type="submit" class="btn btn-default btn-block">검색</button>
                </div>
            </form>
        </div>
        
        <div id="linkButton" class="col-lg-3">
            <a th:href="@{/loginForm}" >
                <img id="loginIcon" th:src="@{/images/user.png}" />
            </a>
                <img id="shoppingCart" th:src="@{/images/shopping-cart.png}" />
        </div>
    </div>
    <!-- 헤더 하단 카테고리 표시 부분 -->
    <div id="headerBottom">
        <h3>카테고리 표시 부분</h3>
    </div>
</div>
    
</html>