<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</th:block>
<th:block layout:fragment="header">


<!-- 헤더 전체 div-->
<div id="headerWrapper" class="container">
    <!-- 헤더 상단 이벤트 안내-->
    <div id="headerTop">
        <h2> 이벤트 광고 배너 자리</h2>

    </div>
    <!-- 헤더 중단 배너, 검색 및 링크 -->
    <div id="headerMiddle" class="row">
        <!-- 로고-->
        <div id = "mainLogo" class="col-lg-3">
            <a th:href="@{/main}">
                <img id="logoImg" th:src="@{/images/people.png}" />
                <div id="logoTxt">BuyForAll</div>
            </a>
        </div>
        <!-- 검색창-->
        <div id="mainSearchBox" class="col-lg-6">
            <form>
                <div id="searchForm" class="input-group input-group-lg mb-3">
                        <input id="searchInput" type="text" class="form-control">
                        <button id="searchButton" type="submit" class="btn btn-default btn-block">검색</button>
                </div>
            </form>
        </div>
        
        <div id="linkButton" class="col-lg-3">
                <a sec:authroize="isAnonymous()" th:href="@{/loginForm}">
                    <img th:unless="${member}" id="loginIcon" th:src="@{/images/user.png}" >
                </a>
                <span type="button" sec:authorize="isAuthenticated()" data-bs-toggle="offcanvas" data-bs-target="#sideBar" th:text="${member.getMember().getMemberName() + '님 반갑습니다.'}"></span>
                <img id="shoppingCart" th:src="@{/images/shopping-cart.png}" />
        </div>
        <!-- OffCanvas 구현부분-->
        <div class="offcanvas offcanvas-start" id="sideBar" sec:authorize="isAuthenticated()">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title"> 마이페이지 </h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <div id="profilePhoto">
                    <img id="myPhoto" th:unless="${member.getMember().getMemberPhoto()}" th:src="@{/images/person.png}" >
                    <div th:text="${member.getMember().getMemberName}"></div>
                    <div id="lastLoginText"th:text="'최종로그인 : ' + ${member.getMember().getLastLogin()}"></div>
                </div>

                <table class="table" id="memberInfo">
                    <tr>
                        <td>ID</td>
                        <td th:text="${member.getMember().getMemberId()}"></td>
                    </tr>
                    <tr>
                        <td>주소지</td>
                        <td th:if="${member.getMember().getMemberAddress() == ''}" th:text="${member.getMember().getMemberAddress()}"></td>
                        <td th:unless="${member.getMember().getMemberAddress() == ''}">설정하지 않았습니다.</td>
                    </tr>
                </table>
                <div id="buttonGroup">
                    <button class="btn btn-secondary" type="button">회원정보수정</button>
                    <a class="btn btn-secondary" type="button" th:href="@{/logout}">로그아웃</a>

                </div>
                
            </div>
        </div>
    </div>
    <!-- 헤더 하단 카테고리 표시 부분 -->
    <div id="headerBottom">
        <h3>카테고리 표시 부분</h3>
    </div>
</div>
    
</html>