<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{css/member/joinForm.css}" />
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/javascript/member/joinMemberForm.js}" ></script>
    </th:block>

    <div id="joinContainer" class="container">
        <div id="joinFormFirst">
            <form action="@{/joinFormSe}">
                <div id="welcomeJoin">
                    <h1 class="form-signin-heading">회원가입</h1>
                </div>
                <div id="sectionOne">
                    <div id="inputEmailAndNum">
                        <label for="username"> Email Address</label>
                        <input type="text" class="form-control" id="memberEmail" name="memberEmail" placeholder="Example@email.com" />
                        <div id="checkDBEmail"></div>
                    </div>
                    <div id="sendButton">
                        <button id="checkEmail" type="button" class="btn btn-primary btn-lg btn-block">인증번호발송</button>
                    </div>
                </div>
                <div id="sectionTwo">
                    <div id="inputVerifyNum">
                        <label for="inputNumber">Verify Number</label>
                        <input type="text" class="form-control" id="inputNumber" name="inputNumber" placeholder="인증번호를 입력하세요" /> 
                    </div>
                    <div id="nextNumber">
                        <button id="nextButton" type="button" class="btn btn-primary btn-lg btn-block" disabled>다음</button>
                    </div>
                    
                </div>

                
            </form>
        </div>
    </div>




</html> 