<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{css/member/loginForm.css}" />
    </th:block>

    <div id="loginContainer" class="container">
        <div id="mainLogin">
            <form method="POST">
                <div id="welcome_text">
                    <h1 class="form-signin-heading">로그인</h1>
                </div>
                <div class="inputIdPwd">
                    <label for="username">ID</label>
                    <input type="text" class="form-control" id="username" name="username"placeholder="아이디를 입력하세요" />
                
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요" />
                </div>
                <div id="loginAndJoin">
                    <button id="loginButton" type="submit" class="btn btn-primary btn-lg btn-block">로그인</button>
                    
                    <a th:href="@{/joinMemberForm}">
                        <button id="joinMember" type="button" class="btn btn-primary btn-lg btn-block">회원가입</button>
                    </a>
                </div>
                <div id="forgetDiv">
                    <a id="forgetText" th:href="@{/forgetInfo}">
                        아이디/비밀번호를 잊어버렸다면
                    </a>
                </div>
            </form>
        </div>
    </div>
</html>