<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{css/member/modifyInfo.css}" />
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/javascript/member/modifyInfo.js}" ></script>
    </th:block>
    <div id="modifyContainer" class="container">
        <div class="modifyFormLayout">
            <form action="/updateInfo" method="POST">
                <div class="form-signin-heading">
                    <h1>회원정보수정</h1>
                </div>
                <div id="modifyComment">
                    회원정보를 수정할 수 있습니다.<br>
                    수정 후 확인 버튼을 누르면 완료됩니다.
                </div>
                <div id="EmailAndPw">
                    <div class="inputCustomClass">
                        <label for="memberId">ID</label>
                        <input type="text" class="form-control form-control-sm" id="memberId" name="memberId" th:value="${member.getMember().getMemberId()}" readonly>
                        <div id="idText">아이디는 변경할 수 없습니다.</div>
                    </div>
                    <div class="inputCustomClass">
                        <label for="password">Password</label>
                        <input type="password" class="form-control form-control-sm" id="password" name="password" placeholder="영문 대소문자/숫자/특수문자를 포함한 10~20자">
                        <div id="checkPwResult" name="checkPwResult" th:text="${valid_password}"></div>
                    </div>
                    <div class="inputCustomClass">
                        <label for="memberEmail">Email</label>
                        <input type="text" class="form-control form-control-sm" id="memberEmail" name="memberEmail" th:value="${member.getMember().getMemberEmail()}" readonly></div>
                        <div id="verifyEmail" name="verifyEmail">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#emailModal">재인증</button>
                            <span id="emailText" name="emailText">이메일 변경을 위해서는 재인증이 필요합니다.</span>
                        </div>
                    </div>

                    
                    


                    

                </div>

            </form>
        </div>

    </div>
    <!-- Email 재인증 첫 번째 Modal : 주소 입력 및 인증번호 발송 -->
    <div class="modal fade" id="emailModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">이메일 재인증</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="emailText">
                        <labal for="inputEmail">사용하려는 이메일을 입력하세요.</labal>
                        <input type="text" class="form-control form-control-sm" id="inputEmail" name="inputEmail" placeholder="Example@email.com">
                        <button type="button" class="btn btn-primary btn-sm" id="sendVeriNum" name="sendVeriNum">인증번호전송</button>
                        <span id="checkInputEmailDB" name="checkInputEmailDB"><br></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button id="popupNextModal" name="popupNextModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verifyNumModal" data-bs-dismiss="modal" disabled>다음</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Email 재인증 두 번째 : 인증번호 입력 및 일치 확인 후 변경 -->
    <div class="modal fade" id="verifyNumModal" name="verifyNumModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">인증번호확인</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="veriNumText">
                        이메일로 발송된 인증번호를 입력하세요.<br>
                        이메일이 발송되지 않았거나 다른 이메일을 사용하고 싶다면 <br>
                        '이전' 버튼을 클릭해서 인증 절차를 다시 진행해주세요.
                    </div>
                    <div id="inputVeriNumDiv">
                        <label for="inputVerifyNum">인증번호입력</label>
                        <input type="text" class="form-control form-control-sm" id="inputVeriNum" name="inputVeriNum" placeholder="인증번호를 입력하세요.">
                        <div id="resultCheckNum" name="resultCheckNum"></div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="returnModal" name="returnModal" class="btn btn-secondary" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#emailModal" >이전</button>
                    <button id="veriComplete" name="veriComplete" class="btn-btn-primary" data-bs-dismiss="modal" disabled>변경 완료</button>
                </div>
            </div>
        </div>
    </div>


</html>