/* 로그인 기본 프레임*/
#loginContainer {
    border: 1px solid red;
    
}
/* 로그인 폼*/
#mainLogin {
    width: 70%;
    max-width: 550px;
    background-color: rgb(230, 230, 230);
    margin: 1em auto 1em auto;
    padding: 2em;
    border-radius: 1em;
}
/* 아이디, 패스워드 입력 부분 div*/
.inputIdPwd {
    margin-bottom: 1em;
}
#loginAndJoin {
    padding: 0 1em 0 1em;
}

#joinMember {
    float: right;
}
/* 아이디 비밀번호 찾기 페이지 외부 div */
#forgetDiv {
    padding-top: 2em;
}
/* 아이디, 비밀번호 찾기 페이지 이동 div */
#forgetText {
    float:right;
    font-size: small;

}