/* 회원 정보 수정 폼 기본 div */
.modifyFormLayout {
    /* 기본 디자인 및 여백 설정 */
    width: 70%;
    max-width: 550px;
    background-color: rgb(230, 230, 230);
    margin: 1em auto 1em auto;
    padding: 2em; 
    border-radius: 1em;
}
/* 회원 정보 설명 */
#modifyComment {
    font-size: small;
    color:brown;
    margin-bottom: 2em;
}
/* 각 입력 input Div 개별 디자인 */
.inputCustomClass {
    margin: 0.5em auto 0.5em auto;
}

/* IdInput / Email input 하단 안내 메시지 */
#emailText, #idText {
    font-size: small;
    color: brown;
}
/* 주소 입력 창 첫번째 div */
#addressDiv {
    width: 15em;
    display:inline-flex;
}